i::before{
  top: 2px;
  position:relative;
}
i,i::before,i::after{
	font-smooth: 2em;
}

i.i::before{
  top: 1px;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

*[tooltip]:after,
i:after {
  font-family: Helvetica;
  white-space: nowrap;
  position: absolute;
  display:none;
  background: var(--tooltip-background-color);
  color: var(--tooltip-color);
  left:50%;
  transform:translateX(-50%);
  top:0;
  border-radius: 2px;
  top: -100%;
  line-height: 18px;
  font-size: 14px;
  padding: 2px 4px;
  border: 1px solid var(--tooltip-color);
  box-shadow: 3px 5px 6px 0.2px rgba(30,30,30,0.5);
  opacity: 0;
  text-shadow : 0 0 0 var(--tooltip-color);
}
*[tooltip]{
  position:relative;
  display: inline-table;
}
*[tooltip]:after{
  content: attr(tooltip);
}
*[tooltip]:hover:after,
i:hover:after{
  display: table;
  -webkit-animation: fadein 0.2s cubic-bezier(0,.49,.56,1) 0.75s forwards;
  -moz-animation: fadein 0.2s cubic-bezier(0,.49,.56,1) 0.75s forwards;
  -ms-animation: fadein 0.2s cubic-bezier(0,.49,.56,1) 0.75s forwards;
  -o-animation: fadein 0.2s cubic-bezier(0,.49,.56,1) 0.75s forwards;
  animation: fadein 0.2s cubic-bezier(.54,.86,.92,.84) 0.75s forwards;
}
*[tooltip]:hover:after,
td>i:hover:after{
  display: inline-block;
}
:focus{
  outline: none;
}

.t,.t::before{
	color: var(--primary-color);
	fill: var(--primary-color);
}

.icon-monogame.t:after{
  content: "MonoGame";
}
.icon-csharp.t:after {
  content: "C# (C Sharp)";
}
.icon-python.t:after {
  content: "Python";
}
.icon-js.t:after {
  content: "JavaScript";
}
.icon-gamepad.t:after {
  content: "Game";
}
.icon-linux.t:after {
  content: "Linux";
}
.icon-apple.t:after {
  content: "Apple";
}
.icon-mac.t:after {
  content: "Mac";
}
.icon-android.t:after {
  content: "Android";
}
.icon-windows.t:after,
.icon-windows8.t:after {
  content: "Windows";
}
.icon-youtube.t:after,
.icon-youtube2.t:after  {
  content: "YouTube";
}
.icon-sphere.t:after {
  content: "Web";
}
.icon-chrome.t:after {
  content: "Chrome";
}
.icon-firefox.t:after {
  content: "FireFox";
}
.icon-IE.t:after {
  content: "Internet Explorer";
}
.icon-edge.t:after {
  content: "Edge";
}
.icon-safari.t:after {
  content: "Safari";
}
.icon-opera.t:after {
  content: "Opera";
}
.icon-steam2.t:after,
.icon-steam.t:after{
  content: "Steam";
}
.icon-css3.t:after{
  content: "CSS3";
}
.icon-html-five.t:after,
.icon-html-five2.t:after{
  content: "HTML5";
}
.icon-tensorflow.t:after{
	content:"TensorFlow";
}
.icon-globe.t:after{
	content:"Web";
}
.icon-terminal.t:after{
	content: "Programming";
}
.icon-microchip.t:after{
	content: "Electronics";
}

.spin-icon {
    -webkit-animation: spin 1500ms infinite linear;
    animation: spin 1500ms infinite linear;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
hr.d {
    padding: 0;
    border: none;
    border-top: medium double var(--separator-color);
    color: var(--separator-color);
    text-align: center;
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 0;
    background: var(--primary-background-color);
	overflow:visible;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-359deg);
  }
}
hr.d::after {
    font-family: 'icomoon';
    content:"\f2dd";
    display: inline-block;
    position: relative;
    top: -0.90em;
    font-size: 1.5em;
    padding: 0.25em;
	aspect-ratio: 1 / 1;
    height: 1em;
    background: inherit;
    color: var(--separator-color);
	animation: rotation 10s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	-webkit-transform: rotate(-30deg);
	-moz-transform: rotate(-30deg);
	-o-transform: rotate(-30deg);
    text-shadow: none;
    border-radius: 50%;
}
hr.s::after{
	content:"\ece7";
}