#results{
  list-style: none;
  padding: 0;
  list-style-type: none;
  margin: 0;
}
#results> li{
  text-decoration: none;
}
#results> li > a{
  padding: 4px 0 8px 0;
  text-decoration: none;
  border-bottom: 1px solid #444;
  
  display: block;
    position: relative;
}

#count{
  margin: 0 0 10px 0;
}
.reswrap{
  padding: 52px 50px 0 50px; 
  margin: 0 0 0 0;
  text-align: left;
}
.reswrap > p{
  font-size:15px;
}
a >span{
  display: block;
  font-weight: 500;
  font-size: 15px;
  cursor: pointer;
  line-height: 18px;
  color: #006621;
  text-shadow: none;
  margin-bottom: 6px;
}
a>span:first-of-type{
  font-size: 18px;
  line-height: 20px;
  color: #337ab7;
  margin-bottom: 2px;
}
a>span:last-of-type{
  color: #ddd;
}

a:hover>span{
  color: #008028;
}
a:hover>span:first-of-type{
  color: #3884c7;
}
a:hover>span:last-of-type{
  color: #eee;
}