.template-color{
  color: #fff !important;
  background-color: #5cb85c !important;
  border-color: #4cae4c !important;
}
.template-color:hover,
.template-color:focus,
.template-color.focus{
  background-color: #449d44 !important;
  border-color: #398439 !important;
}
.template-color:active,
.template-color.active{
  background-image: none !important;
  background-color: #5cb85c !important;
  border-color: #4cae4c !important;
}
.template-color.disabled,
.template-color[disabled],
fieldset[disabled] .template-color{
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.template-color .badge {
  color: #5cb85c;
  background-color: #fff;
}